{% extends 'common/__items_list_with_paginator_base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Запити на ролі
{% endblock %}
{% block heading %}
    <div>
        <h2>Рівні доступу</h2>
    </div>
    <a class="btn btn-primary d-block" href="{% url 'access-levels-new' %}">Додати рівень доступу</a>
    <div>
        {% include 'common/search_form.html' with filter_fields_verbose='код чи опис' %}
    </div>
{% endblock %}
{% block no_items_heading %}
    <h2>Рівнів доступу ще немає</h2>
{% endblock %}