DEBUG=
SECRET_KEY=

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
DEFAULT_FROM_EMAIL=

MIN_SENSORS_COUNT_PER_BOX=
MAX_SENSORS_COUNT_PER_BOX=

MIN_HASH_LENGTH=

DEFAULT_PAGINATE_BY=