DEBUG=
SECRET_KEY=
APP_PORT=

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
DEFAULT_FROM_EMAIL=

SENSORS_COUNT_PER_BOX=

CHARACTERS_PER_CITY_FOR_BOX_IDENTIFIER=
CHARACTERS_PER_INSTITUTION_FOR_BOX_IDENTIFIER=
CHARACTERS_PER_INSTITUTION_NUMBER_FOR_BOX_IDENTIFIER=
CHARACTERS_PER_BOX_ORDINAL_NUMBER_FOR_BOX_IDENTIFIER=
CHARACTERS_PER_SENSORS_COUNT_FOR_BOX_IDENTIFIER=

MIN_HASH_LENGTH=

DEFAULT_PAGINATE_BY=

ALLOWED_HOSTS=