DEBUG=True
APP_PORT=0

SECRET_KEY='_'

DB_NAME='_'
DB_USERNAME='_'
DB_PASSWORD='_'
DB_HOST='_'
DB_PORT=0

EMAIL_HOST='_'
EMAIL_HOST_USER='_'
EMAIL_HOST_PASSWORD='_'
EMAIL_PORT=0
DEFAULT_FROM_EMAIL='_'

SENSORS_COUNT_PER_BOX=1

MIN_HASH_LENGTH=1

DEFAULT_PAGINATE_BY=1

ALLOWED_HOSTS='_'


KINDERGARTEN_ID=0
