{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Логін{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
        <div class="card w-25 p-0">
            <div class="card-header">
                Уведіть дані авторизації | <a href="{% url 'register' %}">Реєстрація</a>
            </div>
            <div class="card-body">
                <form method="post" class="py-4 display-block">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary mt-4">Авторизуватися</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}