{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Реєстрація{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="card w-50 p-0">
            <div class="card-body">
                <form method="post" class="display-block">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {{ registration_formset.non_form_errors }}
                    {{ registration_formset.management_form }}
                    <!-- Here we take .0, as formsets are supposed to be used for bulk creation,
                     but here is used to "join" two forms (user registration + role application)-->
                    {{ registration_formset.0 | crispy }}
                    <button type="submit" class="btn btn-primary mt-4">Відправити заявку на реєстрацію</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}