{% load active_link_tags %}
{% load i18n %}
{% if user.is_authenticated %}
    <header class="p-3 text-white">
        <div class="container px-1">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{% url 'aggregated-consumption' %}"
                           class="nav-link px-2 text-dark {% active_link 'aggregated-consumption' %}">
                            {% trans "Енергоспоживання" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'my-profile' %}"
                           class="nav-link px-2 text-dark {% active_link 'my-profile' %}">
                            {% trans "Мій профіль" %}
                        </a>
                    </li>
                    {% if user.is_admin %}
                        {% include 'header_and_footer/admin_items.html' %}
                    {% endif %}
                </ul>
                <div class="text-end ml-lg-auto">
                    <a href="{% url 'logout' %}"
                       class="py-1 btn btn-outline-secondary rounded-lg text-dark">
                        {% trans "Вихід" %}
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endif %}