{% extends 'common/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Енергоспоживання" %}
{% endblock %}
{% block content %}
    <div class="container" style="height: 80vh;">
        <div class="row">
            <div class="" style="width: 30%;">
                {% include 'energy/consumption/control_form.html' %}
            </div>
            <div class="d-inline w-auto flex-grow-1 overflow-auto" style="max-height: 80vh;">
                {% include 'energy/consumption/energy_consumption_content.html' %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/energy/consumption/energy_consumption_querying.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/energy_consumption_page_helping.js" %}"></script>
    <script type="text/javascript" src="{% static "js/energy/consumption/energy_consumption_displaying.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block display_none %}
    <p id="get-facilities-list-for-role">{% url 'get-facilities-list-for-role' %}</p>
    <p id="get-aggregated-consumption-for-facility">{% url 'get-aggregated-consumption-for-facility' %}</p>
{% endblock %}
