{% load i18n %}
{% load crispy_forms_filters %}
<div class="container d-inline-block p-0">
    <form id="id_control_form" method="post">
        {{ form | crispy }}
        <div id="interval_filtering_div_id"></div>
        <a class="btn btn btn-primary mt-3" id="get_data_button">{% trans "Отримати дані" %}</a>
        <a class="btn btn btn-primary mt-3" id="download_report_button">{% trans "Завантажити звіт" %}</a>
        <p class="fw-light text-muted mt-3">{% trans "Усі параметри застосовуються включно" %}</p>
    </form>
    <hr>
    <p class="fw-bold">{% trans "Агрегація" %}</p>
    <div>
        <p id="aggregation_status_p_id" class="d-inline">
            {% trans "Поточний статус:" %}
        </p>
        <p class="d-inline" id="aggregation_status_id">
        </p>
    </div>
    <div>
        <p id="aggregation_status_p_id" class="d-inline">
            {% trans "Останній запуск:" %}
        </p>
        <p class="d-inline" id="aggregation_last_time_run_id">
        </p>
    </div>
    <a class="btn mt-0" id="run_aggregation_button">
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"
              id="start_aggregation_request_processing_spinner"></span>
        <span id="run_aggregation_button_text">{% trans "Запустити" %}</span>
    </a>
</div>