{% extends 'common/base.html' %}
{% load js_reverse %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Енергоспоживання" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div style="width: 30%;">
                {% include 'energy/consumption/control_form.html' %}
            </div>
            <div class="d-inline w-auto flex-grow-1" style="max-height: 70vh;">
                {% include 'energy/consumption/consumption_data.html' %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.0/chartjs-plugin-zoom.min.js"
            integrity="sha512-B6F98QATBNaDHSE7uANGo5h0mU6fhKCUD+SPAY7KZDxE8QgZw9rewDtNiu3mbbutYDWOKT3SPYD8qDBpG2QnEg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/querying.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/helping/elements.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/helping/hour_day_week_filtering_creation.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/helping/interval_filtering.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/energy/consumption/helping/week_month_year_filtering_creation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/energy/consumption/helping.js" %}"></script>
    <script type="text/javascript" src="{% static "js/energy/consumption/displaying.js" %}"></script>
    <script type="text/javascript" src="{% static "js/energy/consumption/aggregation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/energy/consumption/report.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/energy/consumption_table.css" %}">
{% endblock %}
{% block display_none %}
    {% create_url_name_id_p_tag_with_link_content 'get-facilities-list-for-role' %}
    {% create_url_name_id_p_tag_with_link_content 'get-aggregated-consumption-for-facility' %}
    {% create_url_name_id_p_tag_with_link_content 'run-aggregation' %}
    {% create_url_name_id_p_tag_with_link_content 'get-aggregation-status-and-last-time-run' %}
    {% create_url_name_id_p_tag_with_link_content 'get-energy-report' %}
{% endblock %}
