{% extends 'common/form_in_center.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Редагування обʼєкту{% endblock %}
{% block form_header %}
    Редагування обʼєкту
{% endblock %}
{% block padding_top_class %}
    pt-2
{% endblock %}
{% block width_class %}
    w-50
{% endblock %}
{% block form %}
    <form method="post">
        {% crispy form %}
    </form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/institutions/edit_facility.js' %}"></script>
{% endblock %}
{% block display_none %}
    <p id='edit-facility-link-by-pk-in-post-redirect'>{% url 'edit-facility-link-by-pk-in-post-redirect' %}</p>
{% endblock %}
