{% extends 'common/form_in_center_with_default_padding_and_width.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Новий об'єкт{% endblock %}
{% block form_header %}
    Уведіть дані об'єкту
{% endblock %}
{% block form %}
    <form method="post">
        {% crispy form %}
    </form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/institutions/new_facility.js' %}"></script>
    <script src="{% static 'js/institutions/dynamic_facility_choices_for_institution.js' %}"></script>
{% endblock %}
{% block display_none %}
    <p id='get-institution-facilities'>{% url 'get-institution-facilities' %}</p>
{% endblock %}
