{% extends 'common/base.html' %}
{% block content %}
    <div class="container">
        {% if page_obj.object_list %}
            <div class="container px-0 d-flex align-items-center justify-content-lg-between flex-md-wrap">
                {% block heading %}
                {% endblock %}
            </div>
            <hr>
            {% include 'common/page_items_with_paginator.html' %}
        {% else %}
            {% block no_items_heading %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
