{% extends 'base.html' %}
{% block title %}
    Заявка на реєстрацію успішна
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
        <div>
            <h1 class="">Ви успішно зареєструвалися</h1>
        </div>
        <div class="w-25 text-center pt-5">
            <p>
                Після розгляду вашого запиту ви отримаєте повідомлення на електронну пошту
                про прийняте рішення. У разі успіху, ви відразу зможете почати користуватися сайтом.
            </p>
        </div>
    </div>
{% endblock %}