{% extends 'common/form_in_center_with_default_padding_and_width.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Роль користувача{% endblock %}
{% block form_header %}
    Роль користувача
{% endblock %}
{% block form %}
    {% crispy form %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/users/edit_user_role.js' %}"></script>
    <script src="{% static 'js/common/ajax.js' %}"></script>
{% endblock %}
{% block display_none %}
    <p id='edit-user-pk-in-post'>{% url 'edit-user-pk-in-post' %}</p>
    <p id='edit-facility-pk-in-post'>{% url 'edit-facility-pk-in-post' %}</p>
{% endblock %}
