{% extends 'common/form_in_center_with_default_padding_and_width.html' %}
{% load js_reverse %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Користувач{% endblock %}
{% block form_header %}
    Користувач
{% endblock %}
{% block form %}
    <form method="post">
        {% crispy form %}
    </form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/users/edit_user.js' %}"></script>
{% endblock %}
{% block display_none %}
    {% create_url_name_id_p_tag_with_link_content 'edit-user-role-pk-in-post' %}
{% endblock %}
