{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}
    Розгляд запиту на отримання ролі
{% endblock %}
{% block content %}
    <div class="container">
        {% if user_has_no_roles %}
            <div class="card bg-warning">
                <h3 class="card-body">
                    Цей користувач ще не має жодної ролі, уважно перевірте пошту&#8201;&#8211;&#8201;це може бути
                    стороння людина, що подала заявку на реєстрацію
                </h3>
            </div>
        {% endif %}
        <form method="post">
            {% crispy form %}
        </form>
    </div>
    <script type="text/javascript" src="{% static "js/administrator/user_role_application_decision.js" %}"></script>
{% endblock %}