table {
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
}

thead, tfoot {
    background: #eee;
}

thead {
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ccc;
}

tfoot {
    position: sticky;
    bottom: 0;
    border-top: 2px solid #ccc;
}
